.Sidebar {
    /*width: 300px;*/
    /*height: 100vh;*/
    height: 100%;
    min-width: 300px;
    background-color: white;
    position: relative;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: .30;
    box-sizing: border-box;
    z-index: 300;
}

@media(max-width: 600px) {
    .Sidebar {
        width: 300px;
        position: fixed;
        flex: unset;
        left: -300px;
        transition: all ease-in-out .2s;
        /*left: 0;*/
    }

    .Sidebar__show {
        transform: translateX(300px);
    }
}

@media (max-width: 300px) {
    .Sidebar {
        width: 100vw;
    }
}