.Home {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.Home__please--select  {
    flex: .75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    box-sizing: border-box;
    font-style: italic;
    font-family: Arial;
}

.Home__please--select h1, p {
    margin-bottom: 20px;
}

.Home__chat-toggle--hidden {
    display: none;
}


@media  (max-width: 600px) {
    .Home__please--select {
        width: 100vw;
        flex: 1;
    }

    .Home__chat-toggle {
        display: block;
        padding: 10px;
        border-radius: 10px;
        background: unset;
        color: blueviolet;
        border: 1px solid blueviolet;
        cursor: pointer;
        outline: none;
    }
}